.toast-container {
    position: fixed;
    z-index: 50;
    top: 1rem;
    right: 1rem;
}
.toast-container > :not(:last-child) {
    margin-block-start: 0;
    margin-block-end: 0.75rem;
}
.toast {
    width: 100%;
    max-width: 24rem;
    padding: 1rem;
    border-radius: 8px;
    gap: 0.75rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.2);
    display: flex;
    align-items: center;
    div {
        width: 100%;
        font-size: 1rem;
    }
    button {
        white-space: normal;
        margin: 0.125rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2rem; width: 2rem;
        .sr-only {
            display: none;
        }
        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    button:hover {
        background: #00000022;
        border-radius: 9999px;
    }
    button:focus {
        outline: hidden;
    }
    button[disabled] {
        cursor: not-allowed;
    }
}
.toast-red {
    color: var(--accent-red);
    background: var(--accent-red-light);
    button {
        background: var(--accent-red-light);
    }
}
